*.png
stokeslet_movie
.vscode
_pycache_
*.pyc
*.mp4
Movies
*.code-workspace
mayavi/
*.make
*.marks
bocop/build/CMakeFiles/Makefile2
*.o
*.cmake
*.bin
*.out
bocop/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
bocop/build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
bocop/build/CMakeFiles/bocop.dir/CXX.includecache
bocop/build/CMakeFiles/bocop.dir/depend.internal
bocop/build/CMakeFiles/bocop.dir/link.txt
bocop/build/CMakeFiles/cmake.check_cache
bocop/build/CMakeFiles/CMakeOutput.log
bocop/build/CMakeFiles/CORE.dir/CXX.includecache
bocop/build/CMakeFiles/CORE.dir/depend.internal
bocop/build/CMakeFiles/CORE.dir/link.txt
bocop/build/CMakeFiles/TargetDirectories.txt
bocop/build/CMakeCache.txt
bocop/build/lib/libCORE.a
bocop/build/Makefile
